@page "/calendar"

<div class="title-row">
    <PageTitle Title="Calendar"></PageTitle>
    <span class="spacer"></span>
    <div>
        <MatSlideToggle TValue="bool" Value="RemoveEmptyCols" ValueChanged="ChangeEmptyColFilter" Label="Remove empty columns"></MatSlideToggle>
    </div>
    <div>
        <MatSlideToggle TValue="bool" Value="RemoveWeekendCols" ValueChanged="ChangeWeekendFilter" Label="Remove weekend columns"></MatSlideToggle>
    </div>
    <div>
        <MatSlideToggle TValue="bool" Value="RemoveEmptyFirstAndLastRows" ValueChanged="ChangeEmptyFirstAndLastRowFilter" Label="Remove empty Start and End rows"></MatSlideToggle>
    </div>
</div>


@if (CalendarData != null)
{
    <table id="calendar">
        <thead>
        <tr>
            <th class="header-col"></th>
            @foreach (var i in HeaderRow)
            {
                @if (i.DoTile)
                {
                    <th colspan="@i.ColSpanNumber">@i.Day</th>
                }
            }
        </tr>
        </thead>
        @if (Rows != null && Rows.Count > 0)
        {
            <tbody>
            @foreach (var row in Rows)
            {
                <tr>
                    <th class="header-col">
                        @row.LessonHour.Number.
                        <i>
                            <small>@row.LessonHour.Start - @row.LessonHour.End</small>
                        </i>
                    </th>
                    @foreach (var cell in row.Cells)
                    {
                        @if (cell.DoTile)
                        {
                            <td rowspan="@cell.RowSpanNumber">
                                <div class="tile">
                                    @if (cell.Tile != null)
                                    {
                                        <div class="tile-element @(cell.IsHovered ? "hovered" : "")" @onmouseover="(e) => OnHover(e, cell, true)" @onmouseout="(e) => OnHover(e, cell, false)">
                                            <div class="tile-title">@cell.Tile.SubjectShortName</div>
                                            <div class="tile-info">@cell.Tile.Place</div>
                                        </div>
                                    }
                                </div>
                            </td>
                        }
                    }
                </tr>
            }
            </tbody>
        }
    </table>
}