@page "/calendar"

<PageTitle Title="Calendar"></PageTitle>

@if (CalendarData != null)
{
    <table id="calendar">
        <thead>
        <tr>
            <th></th>
            @foreach (var i in HeaderRow)
            {
                @if (i.DoTile)
                {
                    <th colspan="@i.ColSpanNumber">@i.Day</th>
                }
            }
        </tr>
        </thead>
        @if (Rows != null && Rows.Count > 0)
        {
            <tbody>
            @foreach (var row in Rows)
            {
                <tr>
                    <th>
                        @row.LessonHour.Number <br />
                        @row.LessonHour.Start - @row.LessonHour.End
                    </th>
                    @foreach (var cell in row.Cells)
                    {
                        @if (cell.DoTile)
                        {
                            <td rowspan="@cell.RowSpanNumber">
                                <div class="tile">
                                    @if (cell.Tile != null)
                                    {
                                        <div class="tile-element">@cell.Tile.SubjectShortName</div>
                                    }
                                </div>
                            </td>
                        }
                    }
                </tr>
            }
            </tbody>
        }
    </table>
}