@page "/periods/subjects/courses/{Id:int}"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle Title="@GetTitle()"></PageTitle>

@if (CourseData != null)
{
    <div class="data-header">
        <MudIconButton Icon="@Icons.Filled.Edit" OnClick="OpenCourseDialog"></MudIconButton>
        <MudIconButton Icon="@Icons.Filled.Remove" OnClick="OpenDeleteDialog"></MudIconButton>
        <span class="spacer"></span>
        <MudIconButton Icon="@Icons.Filled.ArrowLeft" OnClick="OpenSubject"></MudIconButton>
    </div>

    <MudDivider/>
    <div class="data-box">
        <div class="data-row">
            <strong>Place:</strong> @CourseData.Place
        </div>
        <div class="data-row">
            <strong>Type:</strong> @CourseData.Type
        </div>
        <div class="data-row">
            <strong>Number:</strong> @CourseData.Number
        </div>
        <div class="data-row">
            <strong>Length:</strong> @CourseData.Length
        </div>
        @if (Interval != null)
        {
            <div class="data-row">
                <strong>Interval:</strong> @Interval.Start - @Interval.End
            </div>
        }
        <div class="data-row">
            <strong>Day:</strong> @CourseData.Day
        </div>
        <div class="data-row">
            <strong>Teachers:</strong> @CourseData.Teachers
        </div>
        <div class="data-row @(CourseData.IsSelected ? "green-row" : "red-row")">
            <strong>Is Selected:</strong> @(CourseData.IsSelected ? "Yes" : "No")
        </div>
    </div>
}