@page "/periods/subjects/courses/{Id:int}"

<PageTitle Title="@GetTitle()"></PageTitle>

@if (CourseData != null)
{
    <div class="data-header">
        <MudIconButton Icon="@Icons.Filled.Edit" OnClick="OpenCourseDialog"></MudIconButton>
        <MudIconButton Icon="@Icons.Filled.Remove" OnClick="OpenDeleteDialog"></MudIconButton>
        <span class="spacer"></span>
        <MudIconButton Icon="@Icons.Filled.ArrowLeft" OnClick="OpenSubject"></MudIconButton>
    </div>
                
    <MudDivider />

    <div>
        <strong>Place:</strong> @CourseData.Place
    </div>
    <div>
        <strong>Type:</strong> @CourseData.Type
    </div>
    <div>
        <strong>Number:</strong> @CourseData.Number
    </div>
    <div>
        <strong>Length:</strong> @CourseData.Length
    </div>
    @if (Interval != null)
    {
        <div>
            <strong>Interval:</strong> @Interval.Start - @Interval.End
        </div>
    }
    <div>
        <strong>Day:</strong> @CourseData.Day
    </div>
    <div>
        <strong>Teachers:</strong> @CourseData.Teachers
    </div>
    <div class="@(CourseData.IsSelected ? "green" : "red")">
        <strong>Is Selected:</strong> @(CourseData.IsSelected ? "Yes" : "No")
    </div>
}