@page "/periods"
@using UniHelper.Enums
@using UniHelper.Shared.DTOs

<PageTitle Title="Period List"></PageTitle>
@if (State == PageState.Display)
{
    <div class="data-header">
        <MudIconButton Icon="@Icons.Filled.Add" OnClick="EnableAdding"/>
        <span class="spacer"></span>
        @if (List != null && List.Count > 0)
        {
            <MudSelect T="int" Label="Current Period" Value="SelectedPeriod" ValueChanged="ChangeCurrent" Dense="true">
                @foreach (var i in List)
                {
                    <MudSelectItem Value="@i.Id"> @i.Name</MudSelectItem>
                }
            </MudSelect>
        }
    </div>


    <MudDivider></MudDivider>

    @if (List != null)
    {
        <MudTable T="PeriodDto" Items="@List" Class="mt-1" Dense="true" FixedHeader="true" Hover="true" OnRowClick="@((e) => OpenPeriod(e))" RowClassFunc="@((e, i) => e.Id == SelectedPeriod ? "current" : "")">
            <HeaderContent>
                <MudTh>Name</MudTh>
                <MudTh>Start - End</MudTh>
                <MudTh>Notes</MudTh>
                <MudTh>Task</MudTh>
                <MudTh>Subjects</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Name">@context.Name</MudTd>
                <MudTd DataLabel="Start - End">@context.Start.ToShortDateString() - @context.End.ToShortDateString()</MudTd>
                <MudTd DataLabel="Notes">@context.Notes?.Count</MudTd>
                <MudTd DataLabel="Tasks">@context.Tasks?.Count</MudTd>
                <MudTd DataLabel="Subjects">@context.Subjects?.Count</MudTd>
            </RowTemplate>
        </MudTable>

        <MudDivider></MudDivider>
    }
}
else if (State == PageState.Adding)
{
    <MudIconButton Icon="@Icons.Filled.Done" OnClick="() => DisableAdding(false)"/>
    <MudIconButton Icon="@Icons.Filled.Cancel" OnClick="() => DisableAdding(true)"/>

    <MudDivider></MudDivider>

    <div>
        <EditForm EditContext="PeriodContext">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <div>
                <MudTextField @bind-Value="Model.Name" Label="Name" FullWidth="true" />
                <ValidationMessage For="() => Model.Name"></ValidationMessage>
            </div>
            <div>
                <MudDatePicker @bind-Value="Model.Start" Label="Start" Class="w-100"></MudDatePicker>
                <ValidationMessage For="() => Model.Start"></ValidationMessage>
            </div>
            <div>
                <MudDatePicker @bind-Value="Model.End" Label="End" Class="w-100"></MudDatePicker>
                <ValidationMessage For="() => Model.End"></ValidationMessage>
            </div>
        </EditForm>
    </div>

    <MudDivider></MudDivider>
}