@page "/periods/{Id:int}"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@using UniHelper.Shared.DTOs

<PageTitle Title="@GetTitle()"></PageTitle>

@if (PeriodData != null)
{
    <div class="data-header">
        <MudIconButton Icon="@Icons.Filled.Add" OnClick="OpenAddDialog"/>
        <MudIconButton Icon="@Icons.Filled.Edit" OnClick="OpenPeriodDialog"/>
        <MudIconButton Icon="@Icons.Filled.Remove" OnClick="OpenDeleteDialog"/>
        <span class="spacer"></span>
        <MudIconButton Icon="@Icons.Filled.ArrowLeft" OnClick="OpenPeriodList"/>
    </div>
    <MudDivider></MudDivider>
    @if (PeriodData.Subjects != null && PeriodData.Subjects.Count > 0)
    {
        <MudTable T="SubjectDto" Items="@PeriodData.Subjects" Class="mt-1 mb-3" Dense="true" FixedHeader="true" Hover="true" OnRowClick="@((e) => OpenSubject(e))" RowClassFunc="@((e, i) => e.IsActive ? "" : "in-active")">
            <HeaderContent>
                <MudTh>Name</MudTh>
                <MudTh>Code</MudTh>
                <MudTh>Type</MudTh>
                <MudTh>Tasks</MudTh>
                <MudTh>Courses</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Name">@context.LongName</MudTd>
                <MudTd DataLabel="Code">@context.Code</MudTd>
                <MudTd DataLabel="Type">@context.Type</MudTd>
                <MudTd DataLabel="Tasks">@context.Tasks?.Count</MudTd>
                <MudTd DataLabel="Courses">@context.Courses?.Count</MudTd>
            </RowTemplate>
        </MudTable>
    }

    <MudDivider></MudDivider>
    <div><strong>Interval:</strong> @PeriodData.Start.ToShortDateString() - @PeriodData.End.ToShortDateString()</div>
    <div class="@(PeriodData.IsCurrent ? "green" : "red")">
        <strong>Is Current Period:</strong> @(PeriodData.IsCurrent ? "Yes" : "No")
    </div>
}