@page "/periods"
@using UniHelper.Enums

<PageTitle Title="Period List"></PageTitle>
@if (State == PageState.Display)
{
    <div class="data-header">
        <MatIconButton Icon="add" OnClick="EnableAdding"></MatIconButton>
        <span class="spacer"></span>
        @if (List != null && List.Count > 0)
        {
            <MatSelect TValue="int" Value="SelectedPeriod" ValueChanged="ChangeCurrent">
                @foreach (var i in List)
                {
                    <MatOption Value="@i.Id" >@i.Name</MatOption>
                }
            </MatSelect>
        }
        
    </div>
    

    <MatDivider></MatDivider>

    @if (List != null)
    {
        <div id="period-list">
            <div class="period-data header-row">
                <div class="period-cell title">Name</div>
                <div class="period-cell title">Start - End</div>
                <div class="period-cell title">Notes</div>
                <div class="period-cell title">Tasks</div>
                <div class="period-cell title">Subjects</div>
            </div>
            @foreach (var period in List)
            {
                <div class="period-data data-row @(period.IsCurrent ? "current" : "")" @onclick="() => OpenPeriod(period.Id)">
                    <div class="period-cell title">@period.Name</div>
                    <div class="period-cell">@period.Start.ToShortDateString() - @period.End.ToShortDateString()</div>
                    <div class="period-cell">@period.Notes?.Count</div>
                    <div class="period-cell">@period.Tasks?.Count</div>
                    <div class="period-cell">@period.Subjects?.Count</div>
                </div>
            }
        </div>
        <MatDivider></MatDivider>
    }
}
else if (State == PageState.Adding)
{
    <MatIconButton Icon="done" OnClick="() => DisableAdding(false)"></MatIconButton>
    <MatIconButton Icon="cancel" OnClick="() => DisableAdding(true)"></MatIconButton>

    <MatDivider></MatDivider>

    <div>
        <EditForm EditContext="PeriodContext">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <div>
                <MatTextField @bind-Value="Model.Name" Label="Name" FullWidth="true"></MatTextField>
                <ValidationMessage For="() => Model.Name"></ValidationMessage>
            </div>
            <div>
                <MatDatePicker @bind-Value="Model.Start" Label="Start" FullWidth="true"></MatDatePicker>
                <ValidationMessage For="() => Model.Start"></ValidationMessage>
            </div>
            <div>
                <MatDatePicker @bind-Value="Model.End" Label="End" FullWidth="true"></MatDatePicker>
                <ValidationMessage For="() => Model.End"></ValidationMessage>
            </div>
        </EditForm>
    </div>

    <MatDivider></MatDivider>
}