@page "/periods"
@using UniHelper.Shared.DTOs

<PageTitle Title="Period List"></PageTitle>

    <div class="data-header">
        <MudIconButton Icon="@Icons.Filled.Add" OnClick="OpenDialog"/>
        <span class="spacer"></span>
        @if (List != null && List.Count > 0)
        {
            <MudSelect T="int" Label="Current Period" Value="SelectedPeriod" ValueChanged="ChangeCurrent" Dense="true">
                @foreach (var i in List)
                {
                    <MudSelectItem Value="@i.Id"> @i.Name</MudSelectItem>
                }
            </MudSelect>
        }
    </div>

    <MudDivider></MudDivider>

    @if (List != null)
    {
        <MudTable T="PeriodDto" Items="@List" Class="mt-1" Dense="true" FixedHeader="true" Hover="true" OnRowClick="@((e) => OpenPeriod(e))" RowClassFunc="@((e, i) => e.Id == SelectedPeriod ? "current" : "")">
            <HeaderContent>
                <MudTh>Name</MudTh>
                <MudTh>Start - End</MudTh>
                <MudTh>Notes</MudTh>
                <MudTh>Task</MudTh>
                <MudTh>Subjects</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Name">@context.Name</MudTd>
                <MudTd DataLabel="Start - End">@context.Start.ToShortDateString() - @context.End.ToShortDateString()</MudTd>
                <MudTd DataLabel="Notes">@context.Notes?.Count</MudTd>
                <MudTd DataLabel="Tasks">@context.Tasks?.Count</MudTd>
                <MudTd DataLabel="Subjects">@context.Subjects?.Count</MudTd>
            </RowTemplate>
        </MudTable>
    }
